## Token contract address
TOKEN_ADDRESS=0x1a8d5D746b9e46F69b13D387B0E9Da8edc6DeE39

## Private key for signing transactions
PRIVATE_KEY=your_private_key_here

## Address to mint tokens to
TO_ADDRESS=0x19ce4dE99ce88bc4a759e8dBdEC42724eEcb666f

## Ethereum node URL
RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
